import { Deserializable } from '../../../models/deserializable';
import { PagedData } from '../../../models/pagedData';
import { Project } from './${inputName}s';

export class ProjectPage implements PagedData<Project>, Deserializable {

  totalResults: number;
  totalPages: number;
  currentPage: number;
  pageSize: number;
  searchTerm: string;
  pagedData: Project[];

  constructor(values: Object = {}) {
    Object.assign(this, values);
  }

  deserialize(input: any): this {
    Object.assign(this, input);
    this.pagedData = input.pagedData.map(${inputName} => new Project().deserialize(${inputName}));
    return this;
  }
}

