// Angular Imports
import { NgModule } from '@angular/core';

// This Module's Components
import { ${modelName}Component } from './${modelName.toLowerCase()}.component';
import { ${modelName}RoutingModule } from './${modelName.toLowerCase()}.routing.module';
import { ${modelName}ListComponent } from './${modelName.toLowerCase()}-list/${modelName.toLowerCase()}-list.component';
import { ${modelName}Service } from './${modelName.toLowerCase()}-service';
import { SharedModule } from '../../common/shared/shared.module';
import { ${modelName}CreateComponent } from './${modelName.toLowerCase()}-create/${modelName.toLowerCase()}-create.component';
import { ${modelName}EditComponent } from './${modelName.toLowerCase()}-edit/${modelName.toLowerCase()}-edit.component';
import { ${modelName}FormComponent } from './${modelName.toLowerCase()}-form/${modelName.toLowerCase()}-form.component';

@NgModule({
  imports: [
    SharedModule,
    ${modelName}RoutingModule

  ],
  declarations: [
    ${modelName}Component,
    ${modelName}ListComponent,
    ${modelName}CreateComponent,
    ${modelName}EditComponent,
    ${modelName}FormComponent
  ],
  exports: [
    ${modelName}Component,
  ],
  providers: [
    ${modelName}Service
  ]
})
export class ${modelName}Module {

}
