import { NgModule } from '@angular/core';
import { RouterModule, Routes } from '@angular/router';
import { ${modelName}Component } from './${modelName.toLowerCase()}.component';
import { ${modelName}ListComponent } from './${modelName.toLowerCase()}-list/${modelName.toLowerCase()}-list.component';
import { ${modelName}CreateComponent } from './${modelName.toLowerCase()}-create/${modelName.toLowerCase()}-create.component';
import { ${modelName}EditComponent } from './${modelName.toLowerCase()}-edit/${modelName.toLowerCase()}-edit.component';



const routes: Routes = [
  {
    path: '', component: ${modelName}Component, children: [
      { path: 'edit/:id', component: ${modelName}EditComponent },
      { path: 'create', component: ${modelName}CreateComponent },
      // { path: 'delete/:id', component: ${modelName}DeleteComponent },
      { path: '', component: ${modelName}ListComponent,  pathMatch: 'full' },
    ]
  },

];

@NgModule({
  exports: [RouterModule],
  imports: [RouterModule.forChild(routes)]
})
export class ${modelName}RoutingModule { }
