import { Component, OnInit, OnDestroy } from '@angular/core';
import { BlockUI, NgBlockUI } from 'ng-block-ui';
import { ${modelName}Service } from './${modelName.toLowerCase()}-service';
import { Subscription, Observable } from 'rxjs';
import {AuthService} from '../auth/auth.service';

@Component({
  selector: 'app-${modelName.toLowerCase()}',
  templateUrl: '${modelName.toLowerCase()}.component.html',
  styleUrls: [
    '../../../assets/styles/pages/contact-app-page.scss',
    '../../../assets/styles/pages/footable-page.scss',
  ]
})
export class ${modelName}Component implements OnInit, OnDestroy {

  @BlockUI('${modelName.toLowerCase()}s-module') loading: NgBlockUI;
  loadingSubscription: Subscription;
  errorMessage$: Observable<any>;
  constructor(private ${modelName.toLowerCase()}Service: ${modelName}Service,
              private authService: AuthService) {
  }

  ngOnInit(): void {
    this.errorMessage$ = this.${modelName.toLowerCase()}Service.errorMessage$;
    this.loadingSubscription = this.${modelName.toLowerCase()}Service.loading$.subscribe(loading => {
      if (loading) {
        this.loading.start();
      } else {
        this.loading.stop();
      }
    }
    );
  }

  ngOnDestroy(): void {
    if (this.loadingSubscription) {
      this.loadingSubscription.unsubscribe();
    }
  }

  /**
   * On create Click handler
   *
   * @memberof ${modelName}Component
   */
  onCreateClick() {
    this.${modelName.toLowerCase()}Service.goToCreate();
  }

  logout() {
    this.authService.logout();
  }

}
